{% extends 'base.html' %}

{% block head %}
<title>GAME</title>
{% endblock %}

{% block body %}
<div class="game_board">
    <form method="POST">
        <img src="https://i.stack.imgur.com/1Pzpe.png" alt="Tic tac toe board">
        {% if board[0][0] == blank %}
            <input type="submit" class="button button1" name="button" value="1"></input>
        {% else %}
            <input class="kys">fdsa</input>
        {% endif %}
        <input type="submit" class="button button2" name="button" value="2"></input>
        <input type="submit" class="button button3" name="button" value="3"></input>
        <input type="submit" class="button button4" name="button" value="4"></input>
        <input type="submit" class="button button5" name="button" value="5"></input>
        <input type="submit" class="button button6" name="button" value="6"></input>
        <input type="submit" class="button button7" name="button" value="7"></input>
        <input type="submit" class="button button8" name="button" value="8"></input>
        <input type="submit" class="button button9" name="button" value="9"></input>
    </form>
</div>
<div class="reset_button">
    <form method="POST">
        <input type="submit" name="reset" value="Reset"></input>
    </form>
</div>

{% endblock %}