{% extends 'base.html' %}

{% block head %}
<title>GAME</title>
{% endblock %}

{% block body %}
<div class="game_board">
    <form method="POST">
        <img src="https://i.stack.imgur.com/1Pzpe.png" alt="Tic tac toe board">
        <input type="submit" class="button button1" href="url_for('/game/update/<int:id>', id=1)"></input>
        <input type="submit" class="button button2"></input>
        <input type="submit" class="button button3"></input>
        <input type="submit" class="button button4"></input>
        <input type="submit" class="button button5"></input>
        <input type="submit" class="button button6"></input>
        <input type="submit" class="button button7"></input>
        <input type="submit" class="button button8"></input>
        <input type="submit" class="button button9"></input>
    </form>
</div>
{% endblock %}